<%- include ("./components/header.ejs") %>
<% if (user) { %>
<div class="py-6 px-8">
  <h1 class="text-3xl font-semibold">Welcome <%= user.fullname %>, you are currently in <%= user.batches.join(', ') %></h1>
 
</div>



<div class="w-full flex justify-center px-20">
  <table class="table-auto w-full ">
    <thead>
      <tr>
        <th class="px-4 py-2 text-left">Status</th>
        <th class="px-4 py-2 text-left">Title</th>
        <th class="px-4 py-2 text-left">Difficulty</th>
        <th class="px-4 py-2 text-left">Category</th>
      </tr>
    </thead>
    <tbody>
      <% problems.forEach((problem) => { %>
      <tr key="<%= problem.id %>">
        <td class="px-4 py-2 text-left">
          <% if (user.solved.includes(problem.id)) { %>
            &#10004; <!-- Tick mark -->
          <% } else { %>
            ❌ <!-- Cross mark -->
          <% } %>
        </td>
        <td class="px-4 py-2 text-left">
          <a href="/problems/<%= problem.id %>" class="text-blue-500 hover:underline"><%= problem.title %></a>
        </td>
        <td class="px-4 py-2 text-left"><%= problem.difficulty %></td>
        <td class="px-4 py-2 text-left"><%= problem.category %></td>
      </tr>
      <% }) %>
    </tbody>
    
  </table>
</div>

  




</div>
    
  <% } else { %>
    <p>User not logged in. Please <a href="/login">login</a>.</p>
  <% } %>

<%- include ("./components/footer.ejs") %>