<%- include ("./components/header.ejs") %> <% if (user) { %>
<div class="py-6 px-8">
  <h1 class="text-3xl font-semibold">User Profile</h1>
  <div class="border border-gray-300 my-4 p-4 flex flex-row shadow-md">
    <div class="py-2 text-gray-500 w-60"></div>
    <div class="p-2 mx-4 w-full">
      <div class="menu-content menu-1">
        <div class="p-2 pb-0 mb-2 text-lg border-b border-b-gray-200">
          <p class="text-gray-700">
            Full Name:<span class="text-gray-500 ml-4 text-base"
              ><%= user.fullname %></span
            >
          </p>
        </div>
        <div class="p-2 pb-0 mb-2 text-lg border-b border-b-gray-200">
          <p class="text-gray-700">
            Username:<span class="text-gray-500 ml-4 text-base"
              ><%= user.username %></span
            >
          </p>
        </div>
        <div class="p-2 pb-0 mb-2 text-lg border-b border-b-gray-200">
          <p class="text-gray-700">
            Points:<span class="text-gray-500 ml-4 text-base"
              ><%= user.points %></span
            >
          </p>
        </div>
        <div class="p-2 pb-0 mb-2 text-lg border-b border-b-gray-200">
          <p class="text-gray-700">
            Batch:<span class="text-gray-500 ml-4 text-base"
              ><%= user.batches.join(', ') %>
            </span>
          </p>
        </div>
        <div class="p-2 pb-0 mb-2 text-lg border-b border-b-gray-200">
          <p class="text-gray-700">
            Languages:<span class="text-gray-500 ml-4 text-base"
              ><%= user.languages.join(', ') %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex items-center justify-end mx-8">
  <form action="/logout" method="post">
    <button
      type="submit"
      class="rounded-md py-1 px-3 bg-red-600 hover:bg-red-700 text-white text-center shadow-sm"
    >
      Logout
    </button>
  </form>
</div>

<% } else { %>
<p>User not logged in. Please <a href="/login">login</a>.</p>
<% } %>

<script>
  const menuItems = document.querySelectorAll(".menu-item");
  const menus = document.querySelectorAll(".menu-content");

  function clearActiveClasses() {
    menuItems.forEach((item) => {
      item.classList.remove("text-black", "font-semibold");
    });
  }

  function hideAllMenus() {
    menus.forEach((menu) => {
      menu.classList.add("hidden");
    });
  }
  menuItems.forEach((item) => {
    item.addEventListener("click", function () {
      clearActiveClasses();
      hideAllMenus();
      this.classList.add("text-black", "font-semibold");
      const targetMenu = document.querySelector(
        `.${this.getAttribute("data-target")}`
      );
      targetMenu.classList.remove("hidden");
    });
  });
</script>
<%- include ("./components/footer.ejs") %>
